@use '../../../assets/scss/abstract/' as *;


.form-body{
    width: 100%;
    height: 100%;
    
    @include flex-colum;
    align-items: center;
    justify-content: center;



    input{
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 1px solid $clr-accent-hover;
        color: white;
        background: none;
        margin: 1rem 0rem;
        transition: all 0.3s ease-in-out;
    }
    
    input:focus{
        outline: none;
        box-shadow: inset 0 -1px 0 $clr-accent-hover;
    }

    input::placeholder{
        color: white;
    }
}