@use "../../../assets/scss/abstract/" as *;
@use "../../../assets/scss/base/" as b;

.login{
    margin-top: 2rem;    
    min-height: 100vh;
    @include flex-colum;
    justify-content: center;
    align-items: center;
    &__bubble{

        background-color: $clr-main;
        width: clamp(20rem, 50vw, 35rem);
        border-radius: 5rem;
        padding: 2rem 3rem;
        @include flex-colum;
        align-items: center;

        &__header{
            padding-bottom: 1.5rem;
        }

        &__body{
            width: 100%;
            @include flex-colum;
            align-items: center;
            margin-bottom: 1.5rem;

            form{
                width: 100%;

                label{
                    width: 100%;
                    font-size: b.$fs-lg;
                    margin: .5rem 0;
                    display: block
                }
                input{
                    width: 100%;
                    height: 3rem;
                    border-radius: 0.5rem; 
                    border:none;    
                    padding: .8rem;
                    font-size: b.$fs-lg;

                    margin: .5rem 0;
                }
                button{
                    padding: .7rem 1.5rem;
                    background-color: $clr-accent;
                    border: none;
                    border-radius: 0.5rem;
                    font-size: b.$fs-lg;
                    color: $clr-text-primary;
                    font-weight: 500;
                    border-radius: 50rem;
                    cursor: pointer;
                    transition: all 0.2s;
                    margin: 2rem 0;

                    &:hover,
                    &:focus {
                        background-color: $clr-accent-hover;
                        outline: none;
                    }
                    &:active {
                        background-color: $clr-accent;
                    }
                }
                p{
                    text-align: right;
                    font-size: b.$fs-md;
                }
                .ct{
                    @include flex-row;
                    justify-content: space-between;
                }
                span {
                    cursor: pointer;
                    color: $clr-accent;
                    transition:all 0.2s;
                    
                    &:hover,
                    &:focus {
                        color: $clr-accent-hover;

                    }
                    &:active {
                        color: $clr-accent;
                    }
                }
    
            }
        }
    }
}