@use "../../../assets/scss/abstract/" as *;
@use "../../../assets/scss/base/" as b;
 
.landing{
    // padding-top: 80px;
    height: 100vh;
    overflow: hidden;
    
    &__hero{
        height: 100%;
        width: 100%;
        position: relative;
        background: linear-gradient(to bottom, rgba($clr-main, .3), rgba($clr-main, .00)),
        url("../images/hero.png") 
        center/cover no-repeat;
        
        &__text{
           
            @include flex-colum;
            text-align: center;
            position: absolute;
            top: 40%;
            left: 11%;

            h1{
                font-size: 3rem;
            }
            p{
                font-size: b.$fs-xl;
            
            }

            span{
                color: $clr-accent;
            }

            

        }
    }

}

