@use '../../../assets/scss/abstract/' as *;


.card-ct{
    width: 100%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
    justify-content: center;
    gap: 1rem;


}