@use "../../../assets/scss/abstract/" as *;
@use "../../../assets/scss/base" as b;

.landing-nav {
    @include flex-center;
    min-height: 7vh;
    justify-content: space-between;
    padding: 0 2rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;


    &__logo-ct{
        @include flex-row;
        padding: 1rem 0;
        &__img{
            
            img{
               width: clamp(1rem, 10vw, 4rem);
            
            }
        }

        &__text{
            h1{
                font-size: b.$fs-2xl;
                margin-left: .5rem;
            }
            span{
                color: $clr-accent;
            }
        }
    }
        
    &__link-ct{
        background-color:$clr-main;
        padding: 1rem 2rem;
        border-radius: 50rem
    }

    &__ul{
        @include flex-row;
        gap: 2rem;
        font-size: b.$fs-md;
        font-weight: 600;

    }
    
    &__li{
        transition: all .3s ease-in-out;
        &:hover,
        &:active{
            cursor: pointer;
            color: $clr-accent;
        }
        
    }
}