@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-colum {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}