@use "../abstract/" as *;
@use "../base/" as b;

.markdown{
    min-height: 100vh;
    width: 100%;
    padding: 3rem;
    caret-color: $clr-accent;
    --mdxeditor-text-color:$clr-text-primary !important;
    p,
  span,
  li,
  h1,
  h2,
  h3,
  blockquote {
    color: $clr-text-primary;
  }
}

