@use "../abstract/" as *;
@use "../base/" as b;

.side-nav {
  background-color: $clr-main;
  @include flex-colum;
  justify-content: space-between;

  width: 12rem;
  height: 100vh;
  padding: 2rem 0.4rem;

  position: fixed;
  top: 0;
    left: 0;

  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.2s ease, visibility 0.2s ease;

  z-index: 100;

  &--open {
    visibility: visible;
    transform: translateX(0);
  }

  &__navi {
    padding: 0.5rem 0;
  }

  &__li {
    @include flex-row;
    align-items: center;
    gap: 0.75rem;

    padding: 0.4rem;
    border-radius: 0.4rem;
    color: $clr-text-muted;
    cursor: pointer;

    transition: background-color 0.1s ease, color 0.1s ease;

    &__icon {
      font-size: 1.2rem;
      display: block;
    }

    p {
      margin: 0;
      line-height: 1;
    }

    &:hover {
      color: $clr-text-primary;
      background-color: $clr-bg-light;
    }

    &:active {
      color: $clr-accent;
      background-color: $clr-bg-light;
    }
  }
}
